@using TeamsTabsBCE.Domain.ViewModels;

@model SoftengDashboardViewModel

@{
	ViewData["Title"] = "softeng - Dashboard";
}

@section Styles {
	<link href="~/css/Softeng/softeng.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/SoftengDashboard/softengDashboard.js" asp-append-version="true"></script>
}

<div class="page">

	<h1>Software Engineering (2023/2024/1)</h1>

	<h3>
		<a data-bs-toggle="collapse" href="#week1" aria-expanded="false" aria-controls="week1">
			1. hét
			<i class="fa-solid fa-circle-arrow-down"></i>
		</a>		
	</h3>	
	<div id="week1" class="collapse">
		<p>
			In memory adatbázisok, adatok mentése fájlba illetve visszatöltése fájlból. Adatkötött vezérlők használata
		</p>
		<p>​
			Gyakorlati feladatsor:
			<a data-bs-toggle="collapse" href="#week1-1" aria-expanded="false" aria-controls="week1-1">
				In-memory adatbázis
				<i class="fa-solid fa-circle-arrow-down"></i>
			</a>		
		</p>
		<div id="week1-1" class="collapse">
			@{
				var taskIdentifier11 = Model.TaskIdentifierMaximums.Maximums.SingleOrDefault(ti => ti.Week == 1 && ti.List == 1);
				var max11 = taskIdentifier11?.Step ?? 0;
				var idBase11 = taskIdentifier11?.Value.Substring(0, taskIdentifier11.Value.Length - max11.ToString().Length);
				for (int i = 1; i <= max11; i++)
				{
					var id = idBase11 + i;
					var taskIdentifier = Model.FullTaskIdentifierModels.SingleOrDefault(fti => fti.Value == id);
					if (taskIdentifier == null)
					{
						<div class="table-responsive">
						<table class="table table-sm table-dark table-bordered m-0">
						  <thead>
							<tr>
							  <th scope="col" class="bg-primary">#</th>
							  <th scope="col" class="bg-primary"></th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">@i</th>
							  <td>Nincs még adat.</td>
							</tr>							
						  </tbody>
						</table>
						</div>
					}
					else
					{
						<div class="table-responsive">
						<table class="table table-sm table-dark table-bordered m-0">
							<thead>
								<tr>
									<th scope="col" class="bg-primary">#</th>
									@{
										var userEmails = taskIdentifier.TaskResultModels.Select(tr => tr.UserEmail.Substring(0, tr.UserEmail.IndexOf('@')));
										foreach (var userEmail in userEmails)
										{
											<th scope="col" class="bg-primary">@userEmail</th>
										}
									}							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">@i <span class="pointer" onclick="deeplinkConversation('@taskIdentifier.TeamsConversationModel?.ConversationId')"><i class="fa-solid fa-comments"></i></span></th>
										@{
											var results = taskIdentifier.TaskResultModels.Select(tr => tr.Result);
											foreach (var result in results)
											{
												if (result == 1)
												{													
													<td class="bg-success">@result</td>
												}
												else if (result == -1)
												{													
													<td class="bg-danger">@result</td>
												}
												else
												{													
													<td>@result</td>
												}
										}
									}
							</tr>							
						  </tbody>
						</table>
						</div>
					}
				}
			}
		</div>
	</div>

	<h3>
		<a data-bs-toggle="collapse" href="#week2" aria-expanded="false" aria-controls="week2">
			2. hét
			<i class="fa-solid fa-circle-arrow-down"></i>
		</a>		
	</h3>	
	<div id="week2" class="collapse">
		<ul>
			<li>
				<p>
					2a. gyakorlati feladatsor:
					<a data-bs-toggle="collapse" href="#week2-1" aria-expanded="false" aria-controls="week2-1">
						Távoli SQL adatbázis elérése C# alkalmazásból
						<i class="fa-solid fa-circle-arrow-down"></i>
					</a>
				</p>
				<div id="week2-1" class="collapse">
					@{
						var taskIdentifier21 = Model.TaskIdentifierMaximums.Maximums.SingleOrDefault(ti => ti.Week == 2 && ti.List == 1);
						var max21 = taskIdentifier21?.Step ?? 0;
						var idBase21 = taskIdentifier21?.Value.Substring(0, taskIdentifier21.Value.Length - max21.ToString().Length);
						for (int i = 1; i <= max21; i++)
						{
							var id = idBase21 + @i ;
							<span id="@id" class="tg-task"></span>
							<span onclick="startConversation('@id', 'Távoli SQL adatbázis elérése C# alkalmazásból')"><i class="fa-solid fa-comments"></i></span>
							<br/>
						}
					}
				</div>
			</li>
			<li>
				<p>
					2b. gyakorlati feladatsor:
					<a data-bs-toggle="collapse" href="#week2-2" aria-expanded="false" aria-controls="week2-2">
						Lokális SQL adatbázis használata
						<i class="fa-solid fa-circle-arrow-down"></i>
					</a>
				</p>
				<div id="week2-2" class="collapse">
					@{
						var taskIdentifier22 = Model.TaskIdentifierMaximums.Maximums.SingleOrDefault(ti => ti.Week == 2 && ti.List == 2);
						var max22 = taskIdentifier22?.Step ?? 0;
						var idBase22 = taskIdentifier22?.Value.Substring(0, taskIdentifier22.Value.Length - max22.ToString().Length);
						for (int i = 1; i <= max22; i++)
						{
							var id = idBase22 + @i ;
							<span id="@id" class="tg-task"></span>
							<span onclick="startConversation('@id', 'Lokális SQL adatbázis használata')"><i class="fa-solid fa-comments"></i></span>
							<br/>
						}
					}
				</div>
			</li>
		</ul>		
	</div>

</div>